{
	debug
	auto_https off
	order coraza_waf first
	log {
		format console
		level info
	}
}

:8080 {

	handle /socket.io/ {
        reverse_proxy 127.0.0.1:3000 {
            header_up Host {upstream_hostport}
        }
    }

	handle * {
		coraza_waf {
			load_owasp_crs
			directives `
			SecRule REMOTE_ADDR "@geoLookup" "chain,id:22,log,drop,msg:'Non-BE IP address'"
			SecRule GEO:COUNTRY_CODE "!@streq BE"
			SecRule &GEO "@eq 0" "phase:1,id:156,deny,log,msg:'Failed to lookup IP'"
			`
		}
		reverse_proxy {$HTTPBIN_HOST:localhost}:3000
	}
}
