{
	debug
	auto_https off
	order coraza_waf first
	log {
		format console
		level info
	}
}

:8080 {

	handle /socket.io/ {
        reverse_proxy juice-shop.herokuapp.com:443 {
            header_up Host {upstream_hostport}
        }
    }

	handle * {
		coraza_waf {
			load_owasp_crs
			directives `
			SecRule REMOTE_ADDR "@geoLookup" "chain,id:23,log,drop,msg:'IP address is not form Belgium !'"
			SecRule GEO:COUNTRY_CODE "!@streq BE"
			`
		}
		reverse_proxy https://juice-shop.herokuapp.com:443
	}
}
